POSTGRES_DB=events
POSTGRES_USER=events_user
POSTGRES_PASSWORD=events_pass
API_SECRET_KEY=change-this-local-dev-secret
S3_ENDPOINT=http://minio:9000
S3_PUBLIC_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=events-images
S3_REGION=eu-south-2
S3_USE_SSL=false
S3_URL_TTL_SECONDS=3600
SVC_POLL_SECONDS=60
SVC_RUN_ONCE=false
SVC_FORCE_REPROCESS=false
SVC_MAX_EVENTS_BATCH=2
SVC_MAX_IMAGES_ANALYZED=3
