aws_region           = "eu-south-2"
project_name         = "tfm-app"
environment          = "base"
db_name              = "events"
db_username          = "events_user"
db_password          = "events_pass"
create_nat           = false
create_rds           = false
create_eks           = false
create_admin_bastion = false